@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body, html {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    max-width: 100%;
    background-size: cover;
    background: #2f2f2f;
    color: azure;
    box-sizing: border-box;
    overflow-x: hidden;
    display: block;
    scroll-behavior: smooth;
}

h5{
    line-height: 30px;
}

section{
    padding-top: 20px;
}
/**/
/**/
/**/
/****************************************** Logo/Nav */

.logo{
    float: left;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.navbar{
    position: fixed;
    top: 0;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    border-bottom: #e84610 1px solid;
    opacity: .9;
}
/**/
/**/
/**/
/****************************************** About Me */

.image{
    flex: 100%;
    max-width: 100%;    
}

.image img{
    vertical-align: middle;
    max-width: 100%;
    border-radius: 15px;
    border: black 5px solid;    
}

.block-divider{
    width: 96%;
    height: 2px;
    border: 0;
}

.block-divider--white{
    background-color: azure;
}

.br-top{
    border-radius: 5px 5px 0 0;
}
/**/
/**/
/**/
/****************************************** My Skills */

.progress{
    position: relative;
    height: 23px;
    margin-bottom: 4px;
}

.progress-type{
    position: absolute;
    left: 0;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: azure;
    background-color: rgba(25, 25, 25, 0.2);
}

.folder{
    margin-left: 40%;
}

.folder i:hover{
    background: #e84610;
}

.folder i{
    width: 70px;
    height: 70px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    color: azure;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
/**/
/**/
/**/
/****************************************** My Projects */

.image-work{
    flex: 70%;
    max-width: 70%;    
}

.image-work img{
    vertical-align: middle;
    max-width: 100%;
    border-radius: 15px;
    border: black 5px solid;    
}

@media screen and (max-width: 576px){
    .image-work{
        flex: 100%;
        max-width: 100%;
    }
}

.block-divider-work{
    width: 50px;
    height: 2px;
    border: 0;
}

.block-divider--red {
    background-color: #e84610;
}

.zoom{
    transition: transform .2s;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
  
.zoom:hover{
    transform: scale(1.1);
}

.work-dec a{
    text-decoration: underline #e84610;
    font-style: italic;
}

.work-size{
    font-size: small;
}
/**/
/**/
/**/
/****************************************** Contact Me */

.form-group{
    color: azure;
}

.form-control{
    background-color: transparent;
}

.form-control:hover{
    border-color: #e84610;
}

.enter{
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #8f8f8f;
    border: 2px solid #e84610;
    color: azure;
}

.enter:hover{
    background: #e84610;
    border: 2px solid #8f8f8f;
    color: #6bf198;
    text-decoration: none;
}
/**/
/**/
/**/
/****************************************** Footer Content */

footer{
    position: relative;
    bottom: 0;
    padding: 10px;
    color: #878787;
    min-width: 100%;
}

.footer-details ul{
    text-align: center;
    margin: 0;
}
  
.footer-details li{
    display: inline-block;
    padding-left: 10px;
}

.icon i{
    font-size: 20px;
    display: block;
    text-align: center;
}

.icon span{
    width: 70px;
    background: #007bff;
    color: black;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin: 0;
    opacity: 0;
    transition: 0.6s opacity;
}

.icon:hover span{
    opacity: 1;
}
